*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.A
{
   height: 100px;
   width: 100px;
   border: 2px solid black; 
   display: flex;
   align-items: center;
   justify-content: center;
}
